body {
	margin: 5px;
}
.data {
	width: 100%;
	height: 330px;
	border: 1px solid #c0c0c0;
	padding-left: 25px;
	font-family:  Arial;
	line-height: 2;
}

.field  {
	width: 250px;
	height: 20px;
	position: absolute;
	left: 130px;
	border: 1px solid gray;
	outline: none;
	padding-left: 5px;
}

.check  {
	background: #e3e3e3;
	padding: 10px 120px;
	margin-top: 10px;
	position: relative;
}

input:valid + span::after {
	content:  '✓';
	color: green;
	position: absolute;
	left: 390px;
}

input:invalid + span::after {
	content:  '✗';
	color: red;
	position: absolute;
	left: 390px;
}

.image {
	background: url(http://htmlbook.ru/files/images/practical/24.png);
	background-position: -20px 110px;
	width: 60px;
	height: 35px;
	display: inline-block;
	margin-left: 0px;
}

button {
	background: #0be00b;
	background: radial-gradient(farthest-corner at 50% 100%, #00df00, #009800);
	background: -webkit-radial-gradient(50% 100%, cover, #00df00, #009800);
	color: #FFF;
	width: 170px;
	height: 23px;
	border-radius: 20px;
	border: 1px solid #099609;
	position: relative;
	z-index: 1;
}

button::before {
	content: 'Зарегистрироваться';
	font: 14px/1.3 Arial;
	background: linear-gradient(0deg, #42c842, #34c734);
	background:	-webkit-linear-gradient(90deg, #42c842, #34c734);
	width: 163px;
	height: 10px;
	position: absolute;
	border-radius: 20px;
	left: 2px;
	top: 1px;
}

